<!--INICIO QUIENES SOMOS Y DONDE ENCONTRARNOS-->
<div class="container">
    <div id="div1" class="row">
        <img class="logo" src="/images/logo.png">

        <h1 class="titulo">DON ANTONIO</h1>
        <h2>Fábrica de Pastas</h2>

        <div class="col" style="padding: 20px;">
            <h2>¿Quienes somos?</h2>
            <h3>Somos un grupo de personas de Justiniano Posse elaborando productos 100% artesanales sin colorantes ni
                aditivos adicionales, tratando de llegar a los hogares, para solucionar el almuerzo o la cena en pocos
                minutos y que nuestros clientes consuman algo sano y rico sin mucha dificultad.</h3>
        </div>
        <div class="col-md-5 offset-md-2 py-3">
            <h2>¿Donde Encontrarnos?</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.619368818411!2d-62.6792131!3d-32.8817889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c950f94c6685a1%3A0xb4c7356ebfe5c196!2sGral.%20G%C3%BCemes%20846%2C%20Justiniano%20Posse%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1658702009170!5m2!1ses!2sar"
                    width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

    </div>
    <!--FIN DE QUIENES SOMOS Y DONDE ENCONTRARNOS-->
    <!--productos-->
    <div class="row ">
        <div class="col">
            <h2 id="productos" style="text-align: center;">NUESTROS PRODUCTOS</h2>
            <ul class="contenedor">
                <li class="lista "><a class="a" href="/raviolones" target="_self">RAVIOLONES</a></li>
                <li class="lista "><a class="a" href="/sorrentinos" target="_self">SORRENTINOS</a></li>
                <li class="lista "><a class="a" href="/noquis">ÑOQUIS</a></li>
            </ul>

        </div>
    </div>
</div>
<!--NOVEDADES-->
<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="text-align: center; "> Nosotros con vos</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">{{titulo}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<!--FIN NOVEDADES-->
<!--INICIO MODAL-->
{{#each novedades}}
<div class="modal fade" id="Modal{{id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{titulo}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>{{subtitulo}}</h4>
                <p>{{cuerpo}}</p>
                <img src="{{imagen}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/each}}
<!--FIN MODAL-->

<!--Contactanos-->
<div class="container --Contactanos--">
    <div class="row align-items-center py-4" style="background-color: rgba(178, 171, 171, 0.689);  ">
        <div class="col">
            <h2>Contáctanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="name" class="form-label"> Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label"> Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label"> Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-md-12">
                    <label for="tel" class="form-label"> Telefono</label>
                    <input type="text" class="form-control" id="tel" placeholder="....." name="tel">
                </div>
                <div class="col-md-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary"> Enviar</button>
                </div>
            </form>
            <p>{{message}}</p>
        </div>

    </div>
</div>