<div class="container">
    <form action="/admin/novedades/modificar" enctype="multipart/form-data" method="post" style="margin: 100px ;">
        <h2 style="margin-top: 10px;">Modificar la novedad</h2>
        <input type="hidden" value="{{novedad.id}}" name="id">
        <div class="form-group">
            <label for="usuario" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
            <div class="form-group" style="margin-top: 20px;">
                <label for="usuario" class="form-label">Subtitulo</label>
                <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}"></input>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <label for="usuario" class="form-label">Cuerpo</label>
                <textarea type="text" class="form-control" name="cuerpo">{{novedad.cuerpo}}</textarea>
            </div>
            <div class="form-group">
                <p>
                    <label style="margin-top: 10px;">Imagen: <input type="file" name="imagen" id="imagen"></label>
                </p>
                <p>
                    <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                        Eliminar imagen actual?</label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                </p>


            </div>

            <button type="submit" class="btn btn-outline-dark" style="margin-top: 10px;">Modificar</button>
    </form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}
</div>